In [1]:
from scboy.starter import zealot

cmd = 'price test'

df = zealot(cmd)

df

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>open</th>
      <th>high</th>
      <th>low</th>
      <th>close</th>
    </tr>
    <tr>
      <th>date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>03/01/2005 17:00</th>
      <td>1.35316</td>
      <td>1.35796</td>
      <td>1.33866</td>
      <td>1.34646</td>
    </tr>
    <tr>
      <th>04/01/2005 17:00</th>
      <td>1.34646</td>
      <td>1.34946</td>
      <td>1.32496</td>
      <td>1.32706</td>
    </tr>
    <tr>
      <th>05/01/2005 17:00</th>
      <td>1.32706</td>
      <td>1.33026</td>
      <td>1.32126</td>
      <td>1.32736</td>
    </tr>
    <tr>
      <th>06/01/2005 17:00</th>
      <td>1.32736</td>
      <td>1.32806</td>
      <td>1.31546</td>
      <td>1.31766</td>
    </tr>
    <tr>
      <th>07/01/2005 17:00</th>
      <td>1.31766</td>
      <td>1.33236</td>
      <td>1.30236</td>
      <td>1.30436</td>
    </tr>
    <tr>
      <th>10/01/2005 17:00</th>
      <td>1.30556</td>
      <td>1.31226</td>
      <td>1.30526</td>
      <td>1.31036</td>
    </tr>
    <tr>
      <th>11/01/2005 17:00</th>
      <td>1.31036</td>
      <td>1.31706</td>
      <td>1.31006</td>
      <td>1.31166</td>
    </tr>
    <tr>
      <th>12/01/2005 17:00</th>
      <td>1.31166</td>
      <td>1.32916</td>
      <td>1.30816</td>
      <td>1.32496</td>
    </tr>
    <tr>
      <th>13/01/2005 17:00</th>
      <td>1.32496</td>
      <td>1.32656</td>
      <td>1.31916</td>
      <td>1.32126</td>
    </tr>
    <tr>
      <th>14/01/2005 17:00</th>
      <td>1.32126</td>
      <td>1.32156</td>
      <td>1.30566</td>
      <td>1.31026</td>
    </tr>
    <tr>
      <th>17/01/2005 17:00</th>
      <td>1.31066</td>
      <td>1.31276</td>
      <td>1.30406</td>
      <td>1.30426</td>
    </tr>
    <tr>
      <th>18/01/2005 17:00</th>
      <td>1.30426</td>
      <td>1.30756</td>
      <td>1.29946</td>
      <td>1.30166</td>
    </tr>
    <tr>
      <th>19/01/2005 17:00</th>
      <td>1.30166</td>
      <td>1.31176</td>
      <td>1.29626</td>
      <td>1.30066</td>
    </tr>
    <tr>
      <th>20/01/2005 17:00</th>
      <td>1.30066</td>
      <td>1.30236</td>
      <td>1.29216</td>
      <td>1.29566</td>
    </tr>
    <tr>
      <th>21/01/2005 17:00</th>
      <td>1.29566</td>
      <td>1.30666</td>
      <td>1.29316</td>
      <td>1.30446</td>
    </tr>
    <tr>
      <th>24/01/2005 17:00</th>
      <td>1.30416</td>
      <td>1.30996</td>
      <td>1.30286</td>
      <td>1.30446</td>
    </tr>
  </tbody>
</table>
</div>